/* ------------------------------------------------------------------------------
*
*  # Navbar
*
*  Custom navbar styles, currently 1 version only
*
*  Version: 1.1
*  Latest update: Mar 10, 2016
*
* ---------------------------------------------------------------------------- */


// Brand/project name
// -------------------------

.navbar {
	min-height: 70px;
}

.navbar-brand {

    // Logo, change according to your logo size
    > img {
        height: 40px;
    }
}

.navbar-nav {

	> li {

		> a {
		    line-height: 44px;
		}
	}
}

#navbar-second {

	.navbar-nav {

		> li {

			> a {
			    line-height: 44px;
			}

			@media (min-width: @grid-float-breakpoint) {
			    font-size: 1.2em;
			}

		}
	}

}
